<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352384205015-2sgevv36pi9c268f4beru616be3ne6c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352384205015-2sgevv36pi9c268f4beru616be3ne6c0</string>
	<key>API_KEY</key>
	<string>AIzaSyDy5mtKYxYkX7fSW2ROWyIeekp1wFB7ls4</string>
	<key>GCM_SENDER_ID</key>
	<string>352384205015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthier2</string>
	<key>PROJECT_ID</key>
	<string>healthier2-90e64</string>
	<key>STORAGE_BUCKET</key>
	<string>healthier2-90e64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352384205015:ios:49b2c53b32be7da48e7092</string>
</dict>
</plist>